@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap'); 
.navbar{
    width:100%;
    background-color:white;
    color:white;
    height:60px;
    position:fixed;
    z-index:1;
    top:0%;
    left:0%;
    font-family: 'Montserrat', sans-serif;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color:black;
    border-bottom: 1px solid rgb(0,0,0,.3);
}
.navbar .leftNavbar{
    color:black;
    height:inherit;
    display: flex;
    align-items: center;
    margin-left: 30px;
    cursor: pointer;
}
.navbar .leftNavbar>*{
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}
.navbar .leftNavbar .whiteleftNavbar{
    color:white;
}
.navbar .leftNavbar .pinkleftNavbar{
    color:#c40866;
}

.navbar .listItems{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:inherit;
}
.navbar .listItems li{
    list-style-type:none;
    margin:0px 30px;
    font-size: 1.5rem;
    font-weight: 600;
    transition:all .5s;
    cursor:pointer;
    height:inherit;
    display: flex;
    align-items: center;
}

.navbar .listItems li a{
    text-decoration: none;
    color:white;
    transition:all .5s;
}
.navbar .listItems li a:hover{
    color:#c40866;
}